@model IEnumerable<Strado.InVento.Core.Models.Suppliers>
@{
    ViewBag.Title = "SupplierList";
}


<div class="row">
    <section class="content-header"></section>
</div>
<div class="row">
    <div class="col-md-12">

        <!-- TABLE: LATEST ORDERS -->
        <div class="box">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-3 col-sm-6 pull-left">
                        <h3 class="box-title">Suppliers Details</h3>
                    </div>
                    <div class="col-md-3 col-sm-6 pull-right">
                        <a href="/Supplier/Create/">
                            <button type="button" class="btn btn-sm bg-green btn-flat pull-right">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Add Supplier
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="clear"></div>
            <div class="box-body">
                <table id="DataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Supplier Name</th>
                            <th>Contact Name</th>
                            <th>Contact No</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Pin</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var supplier in Model)
                        {
                            <tr>
                                <td>
                                    @if (!supplier.IsDeactive)
                                    {
                                        <span id="jsActive" class="label label-success">Active</span>
                                    }
                                    @if (supplier.IsDeactive)
                                    {
                                        <span id="jsDeactive" class="label label-danger">Deactive</span>
                                    }
                                </td>
                                <td>@supplier.SupplierName </td>
                                <td>@supplier.Address.ContactName</td>
                                <td>@supplier.Address.ContactNo</td>
                                <td>@supplier.Address.Address1</td>
                                <td>@supplier.Address.Address2</td>
                                <td>@supplier.Address.City</td>
                                <td>@supplier.Address.State</td>
                                <td>@supplier.Address.Pin</td>
                                <td>
                                    <a class="apadding5" title="Edit" href="@Url.Action("Edit","Supplier", new { id=supplier.Id})">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    @if (!supplier.IsDeactive)
                                    {
                                        <a href="#" id="jsActiveApi" class="js-deactivate-supplier apadding5" title="Deactivate" data-supplier-id="@supplier.Id" data-toggle="modal">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    }
                                    @if (supplier.IsDeactive)
                                    {
                                        <a href="#" id="jsDeactiveApi" class="js-deactivate-supplier apadding5" title="Activate" data-supplier-id="@supplier.Id" data-toggle="modal">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    }

                                </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Status</th>
                            <th>Supplier Name</th>
                            <th>Contact Name</th>
                            <th>Contact No</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Pin</th>
                            <th>Action</th>

                        </tr>
                    </tfoot>
                </table>

                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->

        </div>
        <!-- /.box -->

    </div>

</div>
@section scripts
{
    <script>

        $(document).ready(function () {
            $(".js-deactivate-supplier").click(function (e) {
                var link = $(e.target);
                var actitext = "";
                if (this.id =="jsActiveApi") {
                    actitext = "Deactivate";
                  }
                if (this.id == "jsDeactiveApi") {
                    actitext = "Activate";
                  }
                var dataVal = $(this).data("supplier-id");
                bootbox.dialog({
                    message: "Are you sure you want to "+ actitext + " this supplier?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            ClassName: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                $.ajax({
                                    url: "/api/supplier/" + dataVal,
                                    method: "DELETE"
                                })

                            .done(function () {
                              
                                var url = $(location).attr('href');
                                window.open(url, '_self')
                            })
                            .fail(function () {
                                alert("Somthing failed!");
                            });
                            }
                        }
                    }
                });
            });
        });
    </script>

}

