@model Strado.InVento.Core.ViewModels.PartsPurchaseRecordsViewModel
@{
    ViewBag.Title = "AddRecords";
}
<div class="row">

    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title">Add a Part</h1>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()



                    @*@Html.ValidationSummary(true, "", new { @class = "help-block" })*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.PartsId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.PartsId, new SelectList(Model.Parts, "Id", "PartName"), "Select a Part", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PartsId, "", new { @class = "help-block" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PurchasePrice, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PurchaseQty, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.PurchaseQty, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PurchaseQty, "", new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PurchaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "help-block" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SuppliersId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.SuppliersId, new SelectList(Model.Suppliers, "Id", "SupplierName"), "Select a Supplier", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SuppliersId, "", new { @class = "help-block" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>




                }
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

