@model Strado.InVento.Core.ViewModels.BrandsViewModel
@{
    ViewBag.Title = "Add a Brand";
}

<div class="row">

    <!-- left column -->
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title">Add Brand</h1>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Create", "Brands", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
            {
            <div class="box-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.BrandName)
                    @Html.TextBoxFor(m => m.BrandName, new { @class = "form-control", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m=>m.BrandName)
                    
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BrandLogo)
                    <input type="file" name="image" />

                    <p class="help-block">Select logo image of the brand.</p>
                    @Html.ValidationMessageFor(m => m.BrandLogo)
                </div>
            </div>
                <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            }
        </div>
        <!-- /.box -->
    </div>
    
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}



