@model Strado.InVento.Core.ViewModels.CategoriesViewModel
@{
    ViewBag.Title = @Model.Heading;
}

<div class="row">
    <section class="content-header"></section>
</div>
<div class="row">

    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box">
            <div class="box-header with-border">
                <h1 class="box-title">@Model.Heading</h1>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="form-horizontal">
                <div class="box-body">
                    @using (Html.BeginForm(Model.Action, "Categories"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @placeholder = "eg : Domestic" })
                                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "has-error" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-md-3 text-center "><button type="submit" class="btn btn-primary pull-right">Save</button></div>
                            <div class="col-md-3 text-center ">
                                <div class="col-md-3 text-center ">
                                    <a href="/Categories/CategoryList">
                                        <button type="button" class="btn btn-default pull-left">Cancel</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    @section scripts
    {
        @Scripts.Render("~/bundles/jqueryval")
    }

